*, *:before, *:after{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'MicrosoftJhengHeiRegular', 'Quicksand';
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}